[Unit]
Description=DMCF Galsee Monitorning Data

[Service]
ExecStart=python3.6 /opt/galsee/DMCF/DataToUAF/DataDeliveryUAF.py

[Install]
WantedBy=multi-user.target
