[Unit]
Description=DMCF Galsee HW Monitorning

[Service]
ExecStart=python3.6 /opt/galsee/DMCF/Monitoring/HW_monitoring.py

[Install]
WantedBy=multi-user.target
